.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-top:1rem;
    width: 100%;
}

h1{
    font-family: 'Poiret One', cursive, 'Helvetica Neue',
    sans-serif;
    font-weight:lighter;
    margin-bottom: 2rem;
    color: #8F9491;
    text-shadow: 0.1rem 0 #21FA90, 0.2rem 0 #F397D6;

  }


h2{
    font-weight: lighter;
    margin-bottom: 2rem;
    color: #8F9491;
    
}

h3{
    font-size: 2.5rem;
    font-weight:lighter;
    color: #21FA90;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

@media only screen and (min-width: 768px) {
    h1{font-size: 5rem;}
    h1:hover{
        animation-name: titleAnim;
        animation-duration: 1s;
      }
}
@media only screen and (max-width: 767px) {
    h1{font-size: 3rem;}
    h3{font-size: 1.5rem;}
}

@keyframes titleAnim {
    75%{text-shadow: 0.3rem 0 #21FA90, 0.6rem 0 #F397D6;}
}