*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: #424651;
  font-family: 'Comfortaa', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
